

.mypage-container {
  padding: 1rem;
  padding-top: 0;
  height: 100vh;
  overflow-y: auto; /* 스크롤 추가 */
}

/* 캘린더 본체 */
.react-calendar {
  border: none;
  border-radius: 16px;
  /* box-shadow: 0 4px 16px rgba(0, 0, 0, 0.4); */
  padding: 1rem;
  font-family: 'Pretendard', sans-serif;
  width: 100%;
  max-width: 300px; /* ✨ 너비 살짝 줄이자 */
  margin: 0 auto;
  /* color: #000000; */
}

/* 상단 네비게이션 (월, 이동 버튼) */
.react-calendar__navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.react-calendar__navigation button {
  background: none;
  border: none;
  /* color: #f1f1f1; */
  font-weight: 600;
  font-size: 1rem;
  padding: 0.4rem 0.6rem;
  border-radius: 8px;
  cursor: pointer;
}
/* 기본 날짜 숫자 숨김 */
.react-calendar__tile abbr {
  display: none;
}

/* 요일 텍스트 */
.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  /* color: #999; */
  font-size: 0.75rem;
  margin-bottom: 0.3rem;
}

/* 이전달 / 다음달 날짜 흐리게 */
.react-calendar__tile--neighboringMonth {
  color: #ae5f5f; /* 흐린 회색 */
}

/* 날짜 칸 전체 */
.react-calendar__tile {
  position: relative;
  background: none;
  border: none;
  text-align: center;
  border-radius: 12px;
  padding: 0.7rem 0; /* ✨ 줄여서 타일이 너무 크지 않게 */
  font-size: 1rem;
  /* color: #ddd; */
  transition: background 0.2s ease-in-out;
  cursor: pointer;
}

/* 오늘 날짜 */
.react-calendar__tile--now {
  /* background: #224eff; */
  /* color: #0affba; */
  font-weight: bold;
}



/* 호버 시 배경 */
.react-calendar__tile:hover {
  background: hsl(47, 100%, 82%);
}

/* 날짜 칸 안 래퍼 */
.day-wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 숫자(위로) */
.day-wrapper span:first-child{
  position: relative;
  z-index: 2;
  color: rgb(109,109,109);
}

/* 이웃달 숫자 흐리게 */
.day-wrapper.neighboring span:first-child{
  color:#aaa9a9;
  opacity:.4;
  font-weight: normal;
}

/* 불 아이콘(아래로, 중앙) */
.fire-icon{
  position: absolute;
  top: 45%;
  left: 50%;
  width: 28px;
  height: 28px;
  transform: translate(-50%, -50%);
  z-index: 1;         /* 숫자보다 뒤 */
  opacity: .80;       /* 살짝 배경처럼 */
  pointer-events: none;
}


.react-calendar__month-view__weekdays abbr {
  text-decoration: none !important;
}

.workout-result {
    padding: 1rem;;
}