/* MyRoutineListPage.css */
.routine-detail-page {
  height: 100vh;
  overflow-y: auto;
  padding: 1rem;
  padding-top: 0;
  padding-bottom: 10rem;
  background: #fff;
}




.routine-exercise-card {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-bottom: 1px solid #3333331a;
}

.routine-exercise-img {
  width: 55px;
  height: auto;
  margin-right: 1rem;
  margin-left: 0.5rem;
}

.routine-exercise-info {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.do-this-routine-btn {
  display: block;
  margin: 2rem auto 1rem auto; /* 위-좌우-아래 마진 */
  width: 90%;
  max-width: 400px;
  padding: 1rem;
  background: #7b2f27;
  color: white;
  border-radius: 1rem;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}


.routine-detail-header {
  position: relative;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid #eee;
}

.routine-back-btn {
  position: absolute;
  left: 1rem;
  font-size: 1.5rem;
  background: none;
  color: rgb(130, 32, 32);
  border: none;
  cursor: pointer;
  padding: 0;
  line-height: 1;
}

.routine-header-title {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

