.result-summary-box {
  /* background: linear-gradient(135deg, #4d5dfb, #42d6f4); */
  /* color: white; */
  padding: 1rem;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.result-summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}

.result-icons {
  display: flex;
  justify-content: space-around;
  font-size: 0.9rem;
  color: #444;
  margin-top: 0.5rem;
}

.result-detail-box {
  margin-bottom: 1.2rem;
}

.result-detail-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
}

.result-img {
  width: 50px;
  border-radius: 8px;
}

.result-set-rows {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  margin-top: 0.5rem;
}

.result-set-cell {
  background: #eee;
  padding: 0.5rem 0.8rem;
  border-radius: 8px;
}
