.routine-result-summary-box {
  /* background: linear-gradient(135deg, #4d5dfb, #42d6f4); */
  /* color: white; */
  padding: 1rem;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.routine-result-summary-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}

.routine-result-icons {
  display: flex;
  justify-content: space-around;
  font-size: 0.9rem;
  color: #444;
  margin-top: 0.5rem;
}





