.main-content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.routine-select-row {
    text-align: right;
    margin: 1rem 1.3rem 0 0;
}

.routine-scroll-area {
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
}

.set-row {
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    margin-bottom: 0.8rem;
    gap: 0.5rem;
    font-size: 0.95rem;
}

.set-row span {
    min-width: 50px;
    font-weight: 500;
}

.set-row input {
    width: 80px;
    padding: 0.4rem 0.5rem;
    border-radius: 6px;
    border: none;
    background: #ebebeb;
    color: #333;
    text-align: center;
    font-size: 0.9rem;
}

.set-row input::placeholder {
    color: #aaa;
}

.sticky-save-btn {
    /* position: sticky; */
    bottom: 0;
    padding: 1rem;
    text-align: center;
}

.sticky-save-btn button {
    background-color: #7c1d0d; 
    color: rgb(255, 255, 255);
    padding: 0.8rem 1.5rem;
    border-radius: 8px;
    font-weight: bold;
    border: none;
    cursor: pointer;
}
