.set-table {
  margin-top: 1rem;
  background: #222;
  border-radius: 12px;
  padding: 1rem;
}

.set-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8rem;
  gap: 0.5rem;
  color: white;
}

.set-row input[type="number"] {
  width: 60px;
  text-align: center;
  background: #333;
  border: none;
  color: white;
  border-radius: 8px;
}

.set-row input[type="checkbox"] {
  transform: scale(1.4);
}
