.marketTopFixed {
    
  background-color: white;
  border-bottom: 0.4375rem solid black;
    
}

.marketBottomFixed {
    
  background-color: white;
  border-top: 0.4375rem solid black;
    
}

.widthDefault {
  
  min-width : 375px;
  max-width : 750px;
  margin : 0 auto;
  
}

.linkDefault {
  
  color: inherit;
  text-decoration: inherit;
  
}

.buttonDefault {
  
  --var-bg-color : #7c1d0d;
  --var-color : rgb(255, 255, 255);
  --var-ft-weight : bold;
  --var-ft-radius : 0.5rem;
  --var-border : 0rem;
  
  background-color: var(--var-bg-color);
  color: var(--var-color);
  font-weight: var(--var-ft-weight);
  border-radius: var(--var-ft-radius);
  border: var(--var-border);
  
}

.buttonDefault:hover {
  
  background-color: var(--var-bg-color);
  color: var(--var-color);
  font-weight: var(--var-ft-weight);
  border-radius: var(--var-ft-radius);
  border: var(--var-border);
  
}

.buttonDefault:active {
  
  background-color: var(--var-bg-color) !important;
  color: var(--var-color) !important;
  font-weight: var(--var-ft-weight) !important;
  border-radius: var(--var-ft-radius) !important;
  border: var(--var-border) !important;
  box-shadow: none !important;
  transform: none !important;
  transition: none !important;
  
}

.buttonDefault:disabled {
  
  opacity : 1;
  background-color: #dddddd !important;
  color: #6b7280 !important;
  font-weight: normal !important;
  border-radius: var(--var-ft-radius) !important;
  border: var(--var-border) !important;
  box-shadow: none !important;
  transform: none !important;
  transition: none !important;
  
}

.buttonCancellationDefault {
  
  --var-bg-color : #f2a766;
  --var-color : rgb(255, 255, 255);
  --var-ft-weight : bold;
  --var-ft-radius : 0.5rem;
  --var-border : 0rem;
  
  background-color: var(--var-bg-color);
  color: var(--var-color);
  font-weight: var(--var-ft-weight);
  border-radius: var(--var-ft-radius);
  border: var(--var-border);
  
}

.buttonCancellationDefault:hover {
  
  background-color: var(--var-bg-color);
  color: var(--var-color);
  font-weight: var(--var-ft-weight);
  border-radius: var(--var-ft-radius);
  border: var(--var-border);
  
}

.buttonCancellationDefault:active {
  
  background-color: var(--var-bg-color) !important;
  color: var(--var-color) !important;
  font-weight: var(--var-ft-weight) !important;
  border-radius: var(--var-ft-radius) !important;
  border: var(--var-border) !important;
  box-shadow: none !important;
  transform: none !important;
  transition: none !important;
  
}

.searchBarDefault {
  
  border-radius : 0.5rem;
  padding-left : 0.8125rem;
  padding-left : 0.8125rem;
  padding-top : 0.5rem;
  padding-bottom : 0.5rem;
  border: 1px solid #cccccc;
  
}

.searchBarDefault:focus {
  
  border-radius : 0.5rem;
  padding-left : 0.8125rem;
  padding-left : 0.8125rem;
  padding-top : 0.5rem;
  padding-bottom : 0.5rem;
  border: 1px solid #7c1d0d;
  box-shadow : none;
  outline: none;
  
}

.writeArticleTextDivisionDefault {
  
  border-radius : 0.5rem;
  padding-left : 0.8125rem;
  padding-left : 0.8125rem;
  padding-top : 0.3125rem;
  padding-bottom : 0.3125rem;
  border: 1px solid #cccccc;
  
}

.writeArticleTextDivisionDefault:focus {
  
  border-radius : 0.5rem;
  padding-left : 0.8125rem;
  padding-left : 0.8125rem;
  padding-top : 0.3125rem;
  padding-bottom : 0.3125rem;
  border: 1px solid #7c1d0d;
  box-shadow : none;
  outline: none;
  
}

.primaryDivisionSizeDefault{
  
  position : relative;
  height : calc(100vh - 157px);
  
}

.primaryDivisionDefault {
  
  overflow-y : auto;
  
}

.firstCategorizingDivisionDefault {
  
  border-radius : 0.5rem;
  border: 1px solid #cccccc;
  background-color : #f9f9f9;
  
}

.secondaryDivisionDefault {
  
  border-radius : 0.5rem;
  border: 1px solid #cccccc;
  /* box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25); */
  
}

.divisionDistinguishLine1 {
  
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  
}

.divisionOnclickStyleDefault:hover {
  
  text-decoration: underline;
  cursor: pointer;
  
}

.basicDivisionOnClickStyle {
  
  cursor: pointer;
  
}

.badgeStyleAboutUnconfirmedDeal {
  
  background-color : #9faac0;
  border-radius : 0.5rem;
  color : white;
  
}

.badgeStyleAboutConfirmedDeal {
  
  background-color : #22BF4F;
  border-radius : 0.5rem;
  color : white;
  
}