.marketTopFixed {
    
  background-color: white;
  border-bottom: 1vh solid black;
    
}

.marketBottomFixed {
    
  background-color: white;
  border-top: 1vh solid black;
    
}

.widthDefault {
  
  min-width : 375px;
  max-width : 750px;
  margin : 0 auto;
  
}

.linkDefault {
  
  color: inherit;
  text-decoration: inherit;
  
}

.buttonDefault {
  
  --var-bg-color : rgb(116, 78, 9);
  --var-color : rgb(255, 255, 255);
  --var-ft-weight : bold;
  --var-ft-radius : 1.25vh;
  --var-border : 0vh;
  
  background-color: var(--var-bg-color);
  color: var(--var-color);
  font-weight: var(--var-ft-weight);
  border-radius: var(--var-ft-radius);
  border: var(--var-border);
  
}

.buttonDefault:hover {
  
  background-color: var(--var-bg-color);
  color: var(--var-color);
  font-weight: var(--var-ft-weight);
  border-radius: var(--var-ft-radius);
  border: var(--var-border);
  
}

.buttonDefault:active {
  
  background-color: var(--var-bg-color) !important;
  color: var(--var-color) !important;
  font-weight: var(--var-ft-weight) !important;
  border-radius: var(--var-ft-radius) !important;
  border: var(--var-border) !important;
  box-shadow: none !important;
  transform: none !important;
  transition: none !important;
  
}

.buttonCancellationDefault {
  
  --var-bg-color : rgb(219, 184, 142);
  --var-color : rgb(255, 255, 255);
  --var-ft-weight : bold;
  --var-ft-radius : 1.25vh;
  --var-border : 0vh;
  
  background-color: var(--var-bg-color);
  color: var(--var-color);
  font-weight: var(--var-ft-weight);
  border-radius: var(--var-ft-radius);
  border: var(--var-border);
  
}

.buttonCancellationDefault:hover {
  
  background-color: var(--var-bg-color);
  color: var(--var-color);
  font-weight: var(--var-ft-weight);
  border-radius: var(--var-ft-radius);
  border: var(--var-border);
  
}

.buttonCancellationDefault:active {
  
  background-color: var(--var-bg-color) !important;
  color: var(--var-color) !important;
  font-weight: var(--var-ft-weight) !important;
  border-radius: var(--var-ft-radius) !important;
  border: var(--var-border) !important;
  box-shadow: none !important;
  transform: none !important;
  transition: none !important;
  
}

.searchBarDefault {
  
  border-radius : 1.25vh;
  padding-left : 2vh;
  padding-left : 2vh;
  padding-top : 1.25vh;
  padding-bottom : 1.25vh;
  border: 0.25vh solid rgb(192, 192, 192);
  
}

.writeArticleTextDivisionDefault {
  
  border-radius : 1.25vh;
  padding-left : 2vh;
  padding-left : 2vh;
  padding-top : 0.75vh;
  padding-bottom : 0.75vh;
  border: 0.25vh solid rgb(192, 192, 192);
  
}

.primaryDivisionDefault {
  
  overflow-y : auto;
  
}

.secondaryDivisionDefault {
  
  border-radius : 1.25vh;
  border: 0.0625vh solid rgb(192, 192, 192);
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
  
}